
.titleBox{
    @include dpt();
    padding: 10px;
    width: 100%;
    
}
.yearBox{
    @include dpt();
    padding: 10px;
    border: $spaceCadet solid 2px;
    border-radius: 15px;
    margin: 30px 30px 30px 30px;
    background-color: $spaceCadet;
    width: 300px;
    h2{
        display: inline;
        position: relative;
        text-align: center;
        width: 300px;
        a{
            @include dpt();
            font-size: 2rem;
            color: $bordes;
            padding: 15px;   
            font-family: "roboto-Regular"
        }
    }
}