.footer{
    background-color: $spaceCadet;
    position: relative;
    bottom: 0px;
    z-index: 0;
    height: 8vh;
    .copyleft{
        text-align: center;
        color: $bordes; 
        @include textos;
    }
}