.img{
    border-radius: 12px;
}

.ico{
    width: 2rem;
    &:hover{
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
}
.svg{
    background-size: cover;
    position: fixed;
    bottom: 5vh;
    right: 1vw; 
    width: 65px;
    padding: 4px;
    margin: 10px;
    background-color:$hover;
    border-radius: 50px;
    z-index: 1;
}


.h:hover{
    border-radius: 13px;
    @include icohover;
    
}
.titleImage:hover{
    border-radius: 12px;
    @include icohover;  
}