.listBox{
    @include dpt();
    width: 100%;
    li{
        @include dpt();
        margin: 30px 50px 30px 50px;  
    }
}
.lista1{
    @include dpt();
    width: 100%;
    li{
        @include dpt();
        margin: 5px 30px 5px 30px;
        border-style: solid;
        border-radius: 15px;
        width: 300px;
    }
}