.navS{
    position: sticky;
    top: 0px;
    background-color: $spaceCadet;
    z-index: 2;
    width: 100%;
    .navSelec{
        text-align: center;
        color: $blanquito;
        font-size: 1.5em;
        font-family: "Roboto-Regular";
        padding: 10px 20px 10px 20px;
    }
    .navB{
        background-color: $hover;
    }
}