.title{
    padding: 10px;
    display: block;
    text-align: center;
    color: $blanquito;
    font-size: 1em;
    font-family: "baiJamjuree-Regular";
}
.title2{
    padding: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: $blanquito;
    font-size: 1.5rem;
    font-family: "baiJamjuree-Regular";
    margin: 0px;
}
.parrafo{
    text-align: start;
    color: $blanquito;
    font-size: 1rem;
    font-family: "baiJamjuree-Regular"
}