$blanquito:#f5f5f5;
$hover:#3A506B;
$bordes:#dadada;
$spaceCadet:#1C2541;
@mixin dpt(){
    display: inline-block;
    position: relative;
    text-align: center;
}
@mixin textos(){
    font-size: 1.2em;
    font-family: "baiJamjuree-Regular"
}
@mixin icohover(){
    background-color: $hover;
    border: $bordes solid 0px;
    transform: scale(101%);
    transition: transform 0.3s ease;
}