*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@import "__main";
@import "__lists";
@import "__nav";
@import "__fieldset";
@import "__var";
@import "__header";
@import "__footer";
@import "__boxes";
@import "__img";
@import "__texts";